// 自定义代码块样式
.kviewui-doc {
  .custom-block {
    margin: 16px 0 !important;
    border-width: 1px;
    border-style: solid;
    padding: 16px 16px 8px !important;
    border-radius: 8px;
    line-height: 24px;
    font-size: 15px;
  }
  .tip {
    border-color: rgba($color: map-get($code-colors, green), $alpha: .5);
    background-color: rgba($color: map-get($code-colors, green), $alpha: .1);
    color: map-get($map: $code-colors, $key: green7);
  }
  .warning {
    border-color: rgba($color: map-get($code-colors, orange), $alpha: .5);
    background-color: rgba($color: map-get($code-colors, orange), $alpha: .1);
    color: map-get($map: $code-colors, $key: orange7);
  }
  .danger {
    border-color: rgba($color: map-get($code-colors, red), $alpha: .5);
    background-color: rgba($color: map-get($code-colors, red), $alpha: .1);
    color: map-get($map: $code-colors, $key: red7);
  }
  .details {
    border-color: rgba($color: map-get($code-colors, dark-gray), $alpha: .5);
    background-color: rgba($color: map-get($code-colors, dark-gray), $alpha: .1);
    color: rgba($color: map-get($code-colors, black), $alpha: 1);
  }
  .custom-block-title {
    font-weight: 700;
  }
}

html.dark{
  .kviewui-doc {
    // 详情块儿暗黑模式样式单独处理
    .details {
      color: rgba(map-get($code-colors, light-gray), 1);
    }
  }
}