$code-colors: (
    red: #F53F3F,
    red7: rgba(185, 28, 28, 1),
    blue: #3491FA,
    teal: #0086b3,
    black: #333,
    purple: #a71d5d,
    maroon: #a71d5d,
    green: #00BC79,
    orange: rgba(251, 146, 60, 1),
    orange7: rgba(194, 65, 12, 1),
    green6: rgba(22, 163, 74, 1),
    green7: rgba(21, 128, 61, 1),
    light-gray: #f7f7f7,
    dark-gray: #969896,
    code-block-bg: #292d3e,
    code-block-important: #c792ea,
    code-block-tag: #F07178,
    code-block-attr-value: #FF9CAC,
    c-dark-bg: rgba(0, 0, 0, 0.01),
    overlay-bg: rgba(0, 0, 0, 0.5)
);