$code-colors: (
    red: #F53F3F,
    blue: #3491FA,
    teal: #0086b3,
    black: #333,
    purple: #a71d5d,
    maroon: #a71d5d,
    green: #00BC79,
    light-gray: #f7f7f7,
    dark-gray: #969896,
    code-block-bg: #292d3e,
    code-block-important: #c792ea,
    code-block-tag: #F07178,
    code-block-attr-value: #FF9CAC,
    c-dark-bg: rgba(0, 0, 0, 0.01),
    overlay-bg: rgba(0, 0, 0, 0.5)
);