@import './markdown.scss';

a {
  color: map-get($map: $code-colors, $key: blue) !important;
  font-weight: 600 !important;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background .5s;
}

html.dark {
  background: map-get($map: $code-colors, $key: c-dark-bg);
  color-scheme: dark;
  transition: background .5s;
}

.aside-overlay {
  background: map-get($map: $code-colors, $key: overlay-bg);
  transition: background .5s;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}